<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>SCC Pets</h1>
        </header>
        <nav>
            <ul>
                <li>@Html.ActionLink("Home", "Index")</li>
                <li>@Html.ActionLink("About", "About")</li>
                <li>@Html.ActionLink("Contact", "Contact")</li>
                <li>@Html.ActionLink("Owner List", "Index", "Customers")</li>
            </ul>
        </nav>
        <main>
            @RenderBody()
        </main>
        <footer>
            <p>&copy; 2017 SCC Pets</p>
        </footer>
    </div>

</body>
</html>
